
<div class="container-fluid  flex-column card bg-dark text-white" style="width: 600px;padding: 0px">
    <div class="card-header bg-primary">{{ titulo }}</div>
        <div class="row card-body">
            <form (ngSubmit)="create()">
    
                <div class="row">
                    <label for="nombre" class="col-form-label col-sm-2 text-right">Nombre</label>
                    <div class="col mb-3">
                        <input type="text" class="form-control" [(ngModel)]="personalinfo.nombre" name="nombre">
                    </div>
                </div>
    
                <div class="row">
                    <label for="apellidos" class="col-form-label col-sm-2">Apellidos</label>
                    <div class="col mb-3">
                        <input type="text" class="form-control" [(ngModel)]="personalinfo.apellidos" name="apellidos">
                    </div>
                </div>
    
                <div class="row">
                    <label for="email" class="col-form-label col-sm-2">Email</label>
                    <div class="col mb-3">
                        <input type="text" class="form-control" [(ngModel)]="personalinfo.email" name="email">
                    </div>
                </div>

                <div class="row">
                    <label for="telefono" class="col-form-label col-sm-2">Telefono</label>
                    <div class="col mb-3">
                        <input type="text" class="form-control" [(ngModel)]="personalinfo.telefono" name="telefono">
                    </div>
                </div>

                <div class="row">
                    <label for="direccion" class="col-form-label col-sm-2">Direccion</label>
                    <div class="col mb-3">
                        <input type="text" class="form-control" [(ngModel)]="personalinfo.direccion" name="direccion">
                    </div>
                </div>

                <div>
                    <div class="row">
                        <div class="col mb-3">
                            <button class="btn btn-primary" role="button">Crear</button>
                        </div>
                    </div>
                </div>
    
            </form>
        </div>
</div>
